html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-family: 'Atkinson Hyperlegible Next', serif;
}

body {
    background: url("../images/squiggle-background.png") repeat;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    background-color: #EEE;
    display: inline-block;
    padding: 16px;
    border-radius: 4px 4px 0 0;
}

h2 {
    margin: 0;
    padding: 32px;
}

h1::before, h2::before, h3::before {
    content: "";
    display: block;
    height: 0px;
    margin-bottom: 32px;
    margin-left: -32px;
    margin-right: -32px;
    padding-left: -32px;
    padding-right: -32px;
    width: 100%;
    border-color: #333;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

header h1::before {
    content: none;
}

h1::before, h3::before {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    background-color: #EEE;
    border-radius: 4px;
}

main p {
    font-size: 1.25em;
}

img {
    cursor: pointer;
}

main img {
    display: block;
    max-width: 50%;
    max-height: 50vh;
    width: auto;
    height: auto;
    padding-left: 16px;
}

footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 4px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

.image-columns {
    display: grid;
    grid-auto-flow: column;
}

.image-columns img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 50vh;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    transform: scale(0.9);
}

#fullscreen-image-display {
    z-index: 1;
    background-color: #222222F0;
    position: fixed;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    object-fit: contain;
    padding: 32px;
}

#table-of-contents {
    border-radius: 8px;
    padding: 8px;
    background-color: #FFF;
    display: inline-block;
}

#table-of-contents a {
    display: block;
}

.link_H1 {
    padding-left: 8px;
}
.link_H2 {
    padding-left: 16px;
}
.link_H3 {
    padding-left: 32px;
}
